@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  background-color: #f8f8fa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232f3542' fill-opacity='0.18' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.logo-img {
  height: 40px;
  width: 40px;
  margin-left: 140px;
}

@media only screen and (max-width: 600px) {
  .logo-img {
    height: 35px;
    width: 35px;
    margin-left: 10px;
  }
}

.search-box {
  height: 50px;
  width: 100%;
  font-size: 16px;
  color: #2f3542;
  border-radius: 5px;
  border: none;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
  .searchfeed-container {
    margin-top: 100px;
  }
}

.searchfeed-heading {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 40px;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .searchfeed-heading {
    margin-top: -70px;
    font-size: 16px;
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 600px) {
  .noresults {
    font-size: 26px;
    background-color: white;
    padding: 40px;
    text-align: center;
    border: 1px black solid;
    border-radius: 5px;
    color: black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 600px) {
  .noresults {
    font-size: 18px;
    background-color: white;
    padding: 40px;
    text-align: center;
    border: 1px black solid;
    border-radius: 3px;
    color: black;
    margin-top: -50px;
  }
}

@media only screen and (min-width: 600px) {
  .search-box {
    height: 46px;
    width: 30%;
    font-size: 16px;
    color: #2f3542;
    border-radius: 5px;
    border: none;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

.search-box:focus {
  outline: none;
}

.footer-box {
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #1e272e;
  color: white;
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  margin-top: 100px;
  font-family: 'Lato', sans-serif;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navclass {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  position: fixed;
  background-color: #1e272e;
  padding: 18px;
  color: white;
  z-index: 2;
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 600px) {
  .navlink-container {
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .navlink-container {
    text-align: right;
    margin-right: 100px;
  }
}

@media only screen and (min-width: 600px) {
  .navclass {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    position: fixed;
    background-color: #1e272e;
    padding: 18px 20%;
    color: white;
    z-index: 2;
    padding-left: 100px;
    font-family: 'Lato', sans-serif;
  }
}

.hambur {
  color: white;
}

.navbar {
  background-color: #1e272e;
  -webkit-box-shadow: 0 6px 6px -6px #1e272e;
  -moz-box-shadow: 0 6px 6px -6px #1e272e;
  box-shadow: 0 6px 6px -6px #1e272e;
}

.navbar-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.navbar-title:hover {
  text-decoration: none;
  color: white;
}

.navlinks {
  color: white;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  transition-duration: 0.4s;
}

.navbar-nav {
  margin-right: 100px;
}

.navlinks:hover {
  color: #d6d6d6;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .header-box {
    padding-top: 100px;
    padding-bottom: 30px;
    background-image: url('https://i.imgur.com/V38DezE.png');
    background-size: cover;
    border-bottom: 1px solid grey;
  }
}

@media only screen and (max-width: 600px) {
  .header-box {
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: #2DD881;
    border-bottom: 1px solid grey;
  }
}

@media only screen and (max-width: 600px) {
  .header-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 600px) {
  .header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .header-title-intro {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .header-title-intro {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .title-header {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: #1e272e;
  }
}

@media only screen and (min-width: 600px) {
  .title-header {
    font-weight: bold;
    font-size: 32px;
    color: #1e272e;
  }
}

@media only screen and (max-width: 600px) {
  .intro-header {
    font-size: 16px;
    text-align: center;
    margin-top: -14px;
    color: #1e272e;
  }
}

@media only screen and (min-width: 600px) {
  .intro-header {
    font-size: 16px;
    color: #1e272e;
  }
}

@media only screen and (max-width: 600px) {
  .header-buttons {
    text-align: center;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .header-buttons {
    text-align: center;
  }
}

.button1 {
  font-size: 16px;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.button1:focus {
  outline: none;
}

.button1:hover {
  transform: translateY(-4px);
}

.button2019 {
  margin-right: 10px;
  background-color: #576574;
  color: white;
}

.button2020 {
  background-color: #f5f6fa;
}

@media only screen and (max-width: 600px) {
  .upperfeed-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    margin-bottom: 100px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 600px) {
  .upperfeed-box {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 2fr 1.2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .up-1 {
    display: grid;
    grid-template-rows: 200px auto;
    grid-template-areas: 'image' 'text';
    grid-auto-rows: minmax(200px, auto);
    border-radius: 18px;
    background: white;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (min-width: 600px) {
  .up-1 {
    grid-row: 1/3;
    background-color: white;
    height: minmax(360, auto);
    border: 1px grey solid;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 400px auto;
    transition: all 0.5s ease;
  }
  .up-1:hover {
    cursor: pointer;
    transform: translateY(-4px);
  }
}

@media only screen and (max-width: 600px) {
  .up-2 {
    display: grid;
    grid-template-rows: 200px auto 50px;
    grid-template-areas: 'image' 'text' 'details';
    grid-auto-rows: minmax(200px, auto);
    border-radius: 18px;
    background: white;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (min-width: 600px) {
  .up-2 {
    background-color: white;
    border: 1px grey solid;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: 3fr auto;
    transition: all 0.5s ease;
  }
  .up-2:hover {
    cursor: pointer;
    transform: translateY(-4px);
  }
}

@media only screen and (max-width: 600px) {
  .up1-content {
    grid-area: text;
    color: black;
    display: grid;
    grid-template-rows: auto auto auto auto;
  }
}

@media only screen and (min-width: 600px) {
  .up1-content {
    display: grid;
    grid-template-rows: auto 20px auto auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .up1-image {
    grid-area: image;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .up1-image {
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-position: center;
  }
}

@media only screen and (max-width: 600px) {
  .up1-title {
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .up1-title {
    font-weight: bold;
    font-size: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .up1-author-date {
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid lightgrey;
  }
}

@media only screen and (max-width: 600px) {
  .up1-author {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .up1-author {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 600px) {
  .up1-author2 {
    display: inline-block;
    width: 50%;
  }
  .up1-date {
    display: inline-block;
    width: 50%;
    text-align: right;
  }
}

@media only screen and (min-width: 600px) {
  .up1-author2 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .up1-desc {
    margin-top: 10px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .up1-desc {
    font-size: 14px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .up1-date {
    font-size: 12px;
    margin-top: 12px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .up2-content {
    grid-area: text;
    color: black;
    display: grid;
    grid-template-rows: auto auto 10px;
  }
}

@media only screen and (min-width: 600px) {
  .up2-content {
    margin-left: 20px;
    margin-right: 20px;
    grid-template-rows: auto;
  }
}

@media only screen and (max-width: 600px) {
  .up2-image {
    grid-area: image;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .up2-image {
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center;
  }
}

@media only screen and (max-width: 600px) {
  .up2-title {
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .up2-title {
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .up2-desc {
    margin-top: 10px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .up2-desc {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .up2-author-date {
    grid-area: details;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    font-weight: 500;
    color: #2f3542;
    font-size: 14px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 1px solid lightgrey;
    margin-bottom: -30px;
  }
}

@media only screen and (min-width: 600px) {
  .up2-author-date {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 600px) {
  .up2-author {
    width: 50%;
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .up2-date {
    width: 50%;
    text-align: right;
    display: inline-block;
  }
}

@media only screen and (min-width: 600px) {
  .up2-author {
    font-size: 12px;
    width: 50%;
    display: inline-block;
  }
}

@media only screen and (min-width: 600px) {
  .up2-date {
    font-size: 12px;
    width: 50%;
    text-align: right;
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .feed-heading {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .feed-heading {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 40px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .feed-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    margin-bottom: 100px;
    margin-top: -60px;
  }
}

@media only screen and (min-width: 600px) {
  .feed-container {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .feed-box {
    display: grid;
    grid-template-rows: 200px auto;
    grid-template-areas: 'image' 'text';
    grid-auto-rows: minmax(200px, auto);
    border-radius: 18px;
    background: white;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (min-width: 600px) {
  .feed-box {
    background-color: white;
    border: 1px grey solid;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    width: 62%;
    height: auto;
    display: grid;
    grid-template-columns: auto 200px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
  }
}

.feed-box:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

@media only screen and (max-width: 600px) {
  .feedbox-content {
    grid-area: text;
    color: black;
    display: grid;
    grid-template-rows: auto auto 60px;
  }
}

@media only screen and (min-width: 600px) {
  .feedbox-content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-rows: auto minmax(120px, auto) 20px;
  }
}

@media only screen and (max-width: 600px) {
  .feedbox-title {
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
  }
}

@media only screen and (min-width: 600px) {
  .feedbox-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
}

.feedbox-links {
  color: black;
}

.feedbox-links:hover {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 600px) {
  .feedbox-desc {
    margin-top: 10px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .feedbox-desc {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .feedbox-author-date {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 10px;
    padding-top: 15px;
    border-top: 1px solid lightgrey;
  }
}

@media only screen and (min-width: 600px) {
  .feedbox-author-date {
    font-size: 12px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 600px) {
  .feedbox-image {
    grid-area: image;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

.feedbox-author {
  display: inline-block;
  width: 50%;
}

.feedbox-date {
  display: inline-block;
  width: 50%;
  text-align: right;
}

@media only screen and (min-width: 600px) {
  .feedbox-author {
    display: inline-block;
    width: 70%;
  }
  .feedbox-date {
    display: inline-block;
    width: 30%;
  }
}

@media only screen and (min-width: 600px) {
  .feedbox-image {
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (max-width: 600px) {
  .about-container {
    background-color: white;
    padding: 10%;
    text-align: center;
    margin-top: 10%;
    padding-top:20%;
    margin-bottom: -100px;
    padding-bottom: 30%;
  }
}

@media only screen and (min-width: 600px) {
  .about-container {
    background-color: white;
    padding: 100px;
    margin-bottom: -100px;
    padding-left: 20%;
    padding-right: 20%;
  }
}

.about-heading {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  color: #2ecc71;
  border-bottom: #2ecc71 2px solid;
  margin-right: 10%;
  margin-left: 10%;
}

.about-desc {
  margin-top: 20px;
  text-align: center;
}

.team-heading {
  font-size: 26px;
  font-weight: bold;
  margin-top: 100px;
  text-align: center;
  padding-bottom: 20px;
  margin-right: 10%;
  margin-left: 10%;
  color: #f1c40f;
  border-bottom: #f1c40f 2px solid;
}

.team-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3em;
  margin-top: 40px;
}

@media only screen and (min-width: 600px) {
  .team-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-top: 40px;
  }
}

@media only screen and (min-width: 800px) {
  .team-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-top: 40px;
  }
}

.team-img {
  border-radius: 100px;
  height: 140px;
  width: 140px;
}

.team-member {
  text-align: center;
  justify-self: center;
  transition: all 0.5s ease;
}

.team-member:hover {
  transform: scale(1.05);
}

.member-name {
  font-weight: bold;
  margin-top: 10px;
}

.member-social {
  margin-top: 10px;
}

.member-social-i {
  margin: 5px;
  color: black;
}

.member-social-i:hover {
  color: black;
}