body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Lato', sans-serif;

  background-color: #f8f8fa;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232f3542' fill-opacity='0.18' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navclass{
  top:0;
  left:0;
  right:0;
  height:60px;
  position: fixed;
  background-color: #1e272e;
  padding: 18px 20%;
  color: white;
  z-index: 2;
  font-family: 'Lato', sans-serif;
}

@media only screen and (min-width: 600px) {
  .navclass{
    top:0;
    left:0;
    right:0;
    height:60px;
    position: fixed;
    background-color: #1e272e;
    padding: 18px 20%;
    color: white;
    z-index: 2;
    padding-left:100px;
    font-family: 'Lato', sans-serif;
  }
}

  .navbar-title {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar-title:hover {
    text-decoration: none;
    color: white;
  }
  
  .navlinks {
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition-duration: 0.4s;
  }
  
  .navlinks:hover {
    color: #d6d6d6;
    text-decoration: none;
  
  }

  .header-box{
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: #353b48;
  }

  .header-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
  }
  .header-title-intro {
      display:grid;
      grid-template-rows: 1fr 1fr;
      margin-bottom: 50px;
  }
  .title-header {
    font-weight: bold;
    font-size:32px;
    color: white;
  }

  .intro-header{
    color:white;
    font-size: 16px;
  }

  .header-buttons{
    text-align: center;
  }

  .button1{
    font-size: 16px;
    height:40px;
    padding-left:30px;
    padding-right:30px;
    text-align: center;
    border:none;
    border-radius: 20px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .button1:focus{
    outline: none;
  }

  .button1:hover {
    transform: translateY(-4px);
  }

  .button2019{
      margin-right:10px;
      background-color: #576574;
      color:white;
  }

  .button2020{
    background-color: #f5f6fa;
  }